body {
    padding: 5px;
    color: black;
    
}

#site-heading {
    text-align: center;
    color: darkcyan;
}

.grocery-subheading {
    border: 1px solid black;
    background-color: bisque;
    max-width: 30%;
}

.grocery-item{
    background-color: gray;
    margin-bottom: 5px;
    width: 30%;
    padding: 10px;
}

